node_modules
*.DS_Store
.env
config.json
*.sh
*.pem
challenge_4/dist
challenge_4/public
aws
dotenv
grunt
aws-keys.json

beatminesweeper/ts-dist
tic-tac-toe/dist
connect-4/client/public/bundle.*
connect-4/client/staging
connect-4/server/dist
