
#pin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* justify-content: middle; */
}

#bowling-alley {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pin-entry {
  position: relative;
  padding: 10px;
  border-radius: 25px;
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
}

#sweep-bar {
  position: relative;
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  display: flex;
  justify-content: center;
}

#pin-input {
  background-color: lightslategrey;
  color: ivory;
  border-radius: 25px;
}

#pin-input-inactive {
  background-color: lightslategrey;
  color: ivory;
  border-radius: 25px;
}

#pin-input-invalid {
  background-color: red;
  color: white;
  border-radius: 25px;
}

#pin-input-active {
  background-color: lightslategrey;
  color: ivory;
  border-radius: 25px;

  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
}

#pin-input-active:focus, #pin-input-inactive:focus, #pin-input-invalid:focus {
  outline: none;
}


#bowl-button-inactive {
  display: none;
}

#bowl-button-active {
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: green;
  color: white

}
#bowl-button-active:hover {
  background-color: greenyellow;
  color: darkslategrey
}

.pin-row {
  display: flex;
}
.pin {
  border: 2px solid red;
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 50%;
  display: inline-block;
}

.pin > p {
  border: 1px solid red;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
}

.pin-down {
  border: 2px solid black;
  /* width: 30px; */
  /* height: 30px; */
  margin: 4px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background-color: darkslategrey;
  opacity: 0.8;
}

.pin-down > p {
  border: none;
  position: relative;
  color: ivory;
}
@font-face {
  font-family: 'PermanentMarker';
  src: url("PermanentMarker-Regular.ttf")
}

#strike-message {
  color: green;
  font-size: 200px;
  font-family: 'PermanentMarker';
  text-decoration: underline;
  background-color: yellowgreen;
  width: 100%;
  text-align: center;
}

#spare-message {
  color: orangered;
  font-size: 200px;
  font-family: 'PermanentMarker';
  text-decoration: underline;
  background-color: burlywood;
  width: 100%;
  text-align: center;
}

#bowling-ball {
  height: 100px;
  width: 100px;
  /* border: 1px solid black; */
  border-radius: 50%;
  background-color: #3b4ba3;
  overflow-y: clip;
  position: relative;
}

#hole-one, #hole-two, #hole-three {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

#ball-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 45vh;
}
