#login-form {
  display: flex;
  justify-content: center;
  .login-header {
    color: ivory;
    display: inline;
    background-color: rgb(31, 33, 36);
    margin-bottom: .5%;
  }

  > input {
    &:not(:nth-child(1)) {
      margin-left: 1.5%;
    };
    width: 40%;
    padding: 1.5%;
    border: 1px solid ivory;
  }
}
