// /* Leader Board Colors */

/* Leader Board */
#leaderboard {
  position: relative;
  left: 5%;
  border: 1px solid darkslategray;
  background-color: steelblue;
  #leaderboard-header {
    text-decoration: underline;
    text-align: center;
    color: gold;
    text-transform: capitalize;
  }

  .scores-list {
    padding: 5px 40px 5px 40px;
    &:hover * {
      color: aqua;
      cursor: pointer;
    }

    .scores-user,
    .scores-time {
      display: inline;
      color: ivory;
    }
  }

  .golden {
    color: gold !important;
  }

  .personalized:hover * {
    color: aqua;
    cursor: default;
  }

  #return-to-leaderboard {
    position: absolute;
    bottom: 1%;
    left: 22.5%;
    border-radius: 10px;
    background-color: ivory;
    color: darkslategray;
    &:hover {
      background-color: darkslateblue;
      color: ivory;
      cursor: pointer;
    }
  }
}
