.sweep-square {
  display: flex;
  position: relative;
  width: 100%;
  font-weight: 700;
  height: 2.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslategray;
  background-color: lightslategray;
  &:hover {
    background-color: lightgrey;
  }
}

.disabled {
  pointer-events: none;
}

.flag {
  // Important overrides the default sweep-square:hover behavior
  background-color: greenyellow !important;
  background-image: url(#{$Cloudfront}/mines/mine-images/flag_icon.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.mine {
  background-color: red !important;
  color: white;
}

.dark-square {
  background-color: darkslategray !important;
}

/* 1 */
.blue-num {
  color: blue;
}
/* 2 */
.green-num {
  color: green;
}
/* 3 */
.red-num {
  color: red;
}
/* 4 */
.purple-num {
  color: purple;
}
/* 5 */
.maroon-num {
  color: maroon;
}
/* 6 */
.turquoise-num {
  color: turquoise;
}
/* 7 */
.black-num {
  color: black;
}
/* 8 */
.grey-num {
  color: darkslategray;
}
