html {
  background-color: rgb(31, 33, 36);
  min-height: 100%;
}

/* Global Styles */
.beginner {
  width: 40%;
}

.intermediate {
  width: 55%;
}

.advanced {
  width: 80%;
}


.space-containers {
  width: 100%;
  display: flex;
  margin-top: 5%;

  &:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }

  &:last-child {
    flex-direction: column;
  }
}
