html {
  background-color: rgb(31, 33, 36);
}

.login-header {
  color: ivory;
  padding: 0px;
  margin: 1% 0 1% 1%;

  background-color: rgb(31, 33, 36);
}

#login-form {
  padding-bottom: 5px;
  display: flex;
}

#login-form > input {
  width: 40%;
  margin-left: 1.5%;
}
/* Board */

.sweep-row {
  display: flex;
  border-left: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
}

.beginner {
  width: 40%;
}

.intermediate {
  width: 55%;
}

.advanced {
  width: 80%;
}


.disabled {
  pointer-events: none;
}

.sweep-square {
  display: flex;
  position: relative;
  width: 100%;
  font-weight: 700;
  height: 2.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslategray;
  background-color: lightslategray;
}

.sweep-square:hover {
  background-color: lightgrey;
}

.flag {
  background-color: greenyellow;
  background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/flag_icon.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.flag:hover {
  background-color: greenyellow;
}

.mine {
  background-color: red;
  color: white;
}

.mine:hover {
  background-color: red;
  color: white;
}

.dark-square {
  background-color: darkslategray;
}

.dark-square:hover {
  background-color: darkslategray;
}

/* Smiley Bar */
#smiley-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: darkslategray;
  color: ivory;
  border: 2px solid black;
  height: 25px;
  vertical-align: auto;
}

.smiley-guy {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  display: inline-block;
  height: 20px;
  padding: 2.5px 12.5px 2.5px 12.5px;
}
#smiley-guy {
  background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/smiley-face.png);
}

#surprised-guy {
  background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/surprise-face.png);
}

#dead-guy {
  background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/dead-face.png);
}

#victory-guy {
  background-image: url(https://d1y3bjxf7c78hf.cloudfront.net/victory-face.png);
}

#flags-remaining {
  padding-left: 10px;
  position: relative;
}

/* Leader Board */
#leaderboard {
  position: relative;
  left: 5%;
  border: 1px solid darkslategray;
  background-color: steelblue;
}

#leaderboard-header {
  text-decoration: underline;
  text-align: center;
  color: gold;
}

#return-to-leaderboard {
  position: absolute;
  bottom: 1%;
  left: 22.5%;
  border-radius: 10px;
  background-color: ivory;
  color: darkslategray;
}

#return-to-leaderboard:hover {
  background-color: darkslateblue;
  color: ivory;
  cursor: pointer;
}

#milli-second-timer {
  color: ivory;
  display: flex;
  border: 1px solid ivory;
  padding: 5px 0;
  justify-content: center;
}
#skill-level-selector {
  /* padding: 5px 5px 20px 0px; */
  display: flex;
  justify-content: center;
}

#skill-level-selector > * {
  background-color: ivory;
  width: 30%;
  margin: 0px 1.6%;
}

#skill-level-selector > *:hover {
  background-color: darkslateblue;
  color: ivory;
}

.scores-user {
  display: inline;
  color: ivory;
}

.scores-list:hover * {
  color: aqua;
  cursor: pointer;
}

.personalized:hover * {
  color: aqua;
  cursor: default;
}

.scores-time {
  display: inline;
  color: ivory;
}

.scores-list {
  padding: 5px 40px 5px 40px;
}
/* 1 */
.blue-num {
  color: blue;
}
/* 2 */
.green-num {
  color: green;
}
/* 3 */
.red-num {
  color: red;
}
/* 4 */
.purple-num {
  color: purple;
}

/* 5 */
.maroon-num {
  color: maroon;
}
/* 6 */
.turquoise-num {
  color: turquoise;
}
/* 7 */
.black-num {
  color: black;
}
/* 8 */
.grey-num {
  color: darkslategray;
}

/* Leader Board Colors */
.golden {
  color: gold;
}
